.aside-menu-bar-container {
  display: flex;
  flex-direction: column;
  width: 70px;
  background: #042235;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5),
    inset -4px 0px 4px rgba(2, 15, 24, 0.569466);
}

.aside-menu-svg {
  margin: 25px 21px 51px 15px;
}

.aside-menu-svg:first-child{
    margin-top: 50px;
}

.aside-menu-svg:last-child{
    margin-top: 420px;
}
